@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*variables go here*/

:root {
    /*colors*/

    --clr_primary: #fdf0d5;

    --clr_secondary: #669bbc;
    --clr_third: #003049;

    --clr_green: #69bc66;
    --clr_darkGreen: #054900;

    --clr_red: #bc6666;
    --clr_darkRed: #490000;

    --clr_purple: #9e66bc;
    --clr_darkPurple: #470049;

    /*sizes*/
    --txt_xs: 0.75rem;
    --txt_s: 1rem;
    --txt_m: 2.5rem;
    --txt_xl: 4rem;
    --txt_xxl: 6rem;
    /*shadows*/
    --shdw_primary: -1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    --shdw_secondary: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

html {
    background-color: var(--clr_primary);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #fdf0d5;
}

.logo {
    width: 5rem;
    height: 5rem;
}

header {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    /*background-color: var(--clr_third);*/
    align-items: center;
    z-index: 3;
}

.listItem {
    position: relative;
    padding: 2rem 1rem 2rem 1rem;
    text-decoration: none;
    color: var(--clr_primary);
    text-align: center;
}

.listItem:first-of-type {
    margin-right: auto;
    padding: 0;
    margin-left: 1rem;
}

.underline {
    margin-top: 3px;
    border-bottom: 3px solid white;
}

/*##########################*/
/*info section on homepage*/
/*##########################*/

.infoSection {
    background: var(--clr_secondary);
    display: flex;
    justify-content: center;
}

.infoContainer {
    max-width: 80vw;
    color: var(--clr_primary);
}

.infoTitle {
    padding-top: 5rem
}

.infoBody {
    padding-top: 1.5rem
}

.infoBody:last-of-type {
    padding: 1.5rem 0 5rem 0;
}

.infoImg {
    display: block;
    object-fit: contain;
    max-width: 100%;
}

.gradient {
    position: relative;
}

.gradient:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%);
}

/*##########################*/
/*upload button with image*/
/*##########################*/

.btnImgSection {
    background-color: var(--clr_primary);
    display: flex;
    justify-content: center;
}

.btnImgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "uploadButtonContainer pictureHome";
    max-width: 80vw;
    padding: 1.5rem 0 1.5rem 0;
    /* min-height: 50rem; */
}

.uploadButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}

.uploadButton {
    text-decoration: none;
    background-color: #c1121f;
    color: var(--clr_primary);
    font-size: clamp(1rem, 4vw, 4rem);
    padding: 1rem 2rem;
    border-radius: 1rem 4rem;
}

.pictureHome {
    object-fit: contain;
    max-width: 40vw;
}


/*############*/
/*Job card*/
/*############*/

.jobSection {
    background: var(--clr_primary);
    display: flex;
    justify-content: center;
    width: 100vw;
}

.jobContainer {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 3rem 0;
    width: 80vw;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.jobCard {
    margin: 2rem;
    width: 30rem;
    border-radius: 5px;
    box-shadow: var(--shdw_secondary);
}

.jobTitle {
    position: relative;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}


.jobDescription {
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: scroll;
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-height: 12rem;
    min-height: 12rem;
}

.jobTel {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0 0 5px 5px;
}

.jobNameAndPlace {
    font-size: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.uppercase {
    text-transform: uppercase;
}


#whiteText {
    color: var(--clr_primary);
}

.blue {
    background-color: var(--clr_secondary);
    color: var(--clr_primary);
}

.darkblue {
    background-color: var(--clr_third);
    color: var(--clr_secondary);
}

.green {
    background-color: var(--clr_green);
    color: var(--clr_primary);
}

.darkgreen {
    background-color: var(--clr_darkGreen);
    color: var(--clr_green);
}


.red {
    background-color: var(--clr_red);
    color: var(--clr_primary);
}

.darkred {
    background-color: var(--clr_darkRed);
    color: var(--clr_red);
}

.purple {
    background-color: var(--clr_purple);
    color: var(--clr_primary);
}

.darkpurple {
    background-color: var(--clr_darkPurple);
    color: var(--clr_purple);
}



/*############*/
/*Login page*/
/*############*/


.loginSection {
    background-color: var(--clr_primary);
    display: flex;
    justify-content: center;
}

.loginRegisterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "loginContainer registerContainer";
    padding: 5rem 0 5rem 0;
    place-items: self-start;
    justify-items: center;
    min-width: 80vw;
}

.loginContainer {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr_secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shdw_primary);
}

.loginContainerMargin {
    margin: 5rem 0 5rem 0;
}

.registerContainer {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr_secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shdw_primary);
}

.loginInput {
    background: var(--clr_primary);
    padding: 1rem;
    border-radius: 10px;
}

.loginInput::placeholder {
    color: var(--clr_secondary);
}


.loginButton {
    background: var(--clr_third);
    border-radius: 10px;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

.nameInput {
    width: 50%;
    height: 2rem;
    background: var(--clr_primary);
    color: var(--clr_third);
    border: none;
    padding: 1rem;
}

.name {
    margin-right: 0.5rem;
    padding: 1rem;
}

.surname {
    margin-left: 0.5rem;
    padding: 1rem;
}

.input {
    width: 30vw;
    height: 2rem;
    margin: 0.5rem;
    color: var(--clr_third);
    border: none;
}

textarea {
    max-width: 30vw;
    min-width: 30vw;
    min-height: 10rem;
}

.overview {
    padding-bottom: 3rem;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--clr_secondary);
    width: 40rem;
    margin: 4rem 1rem 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shdw_primary);
}

.profileInfo{
    padding: 0.5rem;
    margin: 0.5rem;
}

.profileInput {
    border-radius: 10px;
    background-color: var(--clr_primary);
    color: var(--clr_third);
    width: 100%;
    border: none;
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.profileInput::placeholder{
    color: var(--clr_secondary);
}

.profileUnderline{
    border-bottom-style: groove;
    color: var(--clr_primary);
}

#loginButton {
    color: var(--clr_primary);
}

.inputTitle{
    color: var(--clr_primary);
}

.profileButton {
    margin-top: 0.5rem;
    color: var(--clr_primary);
    background-color: var(--clr_third);
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem;
    border: none;
    font-size: 1rem;
}

h1 > form {
    position: absolute;
    right: -1rem;
    top: -1rem;
}

.deleteBtn {
    border: none;
    font-size: 2rem;
    background: red;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50%;
    box-shadow: var(--shdw_secondary);

}

.changeSection

/*for screens with a screen size of 600px or lower*/

@media only screen and (max-width: 600px) {
    .input {
        width: 80vw;
    }

    .loginRegisterContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas: "loginContainer" "registerContainer";
        padding: 1.5rem 0 1.5rem 0;
        place-items: center;
        min-width: 100vw;
    }
}
