@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*variables go here*/
:root {
    /*colors*/
    --clr_primary: #0290ef;
    --clr_secondary: #50f545;

    /*sizes*/
    --txt_xs: 0.75rem;
    --txt_s: 1rem;
    --txt_m: 2.5rem;
    --txt_xl: 4rem;
    --txt_xxl: 6rem;

    /*shadows*/
    --shdw_primary: -1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    --shdw_secondary: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

html {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/*index.php*/
.informatie { 

}

.upload{

}

/*template.php*/
.logo{
    width: 80px;
    height: 80px;
}

.header{
    display: flex;
    justify-content: flex-start;
    background-color: #264653;
    align-items: center;
}

.listItem{
    padding: 0.25rem;
    padding-right: 1rem;
    text-decoration: none;
    color: white;
}

.listItem:first-of-type{
    margin-right: auto;
}